/* Importamos las fuentes a utilizar */
@font-face {
    font-family: 'AvenirLTStd-Bold';
    src: url('/1_pagInicio/fonts/AvenirLTStd-Bold.otf' );
}
@font-face {
    font-family: 'AvenirLTStd-Medium';
    src: url('/1_pagInicio/fonts/AvenirLTStd-Medium.otf');
}
@font-face {
    font-family: 'AvenirLTStd-Regular';
    src: url('/1_pagInicio/fonts/AvenirLTStd-Regular.otf');
}

/* Variables de css */
:root{
    --textoBold: 'AvenirLTStd-Bold', sans-serif;
    --textoMedium: 'AvenirLTStd-Medium', sans-serif;
    --textoRegular: 'AvenirLTStd-Regular', sans-serif;
    --colorNegro:#000000;
    --colorNegroTransparencia:#00000080;
    --colorGrisOscuro:#232323;
    --colorGrisClaro:#A4A5A6;
    --colorBlanco:#FFFFFF;
}

/* Condiciones iniciales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--colorGrisOscuro);
    color: var(--colorBlanco);
   
}

/* --------------HEADER--------------- */
.container-header{
    width: 100%;
    height: 100vh;
    background-image: url('/1_pagInicio/assetsInicio/banner/baner-inicio.svg');
    background-position: center;
    position: relative;
    background-size: cover;
}

/* Sección baner */
.container-btns{
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    gap: 20px;
}
.container-btns a{
    margin-right: 15%;
    text-decoration: none;
    padding: 10px 15px;
    border: solid 2px var(--colorBlanco);
    background-color: var(--colorBlanco);
    color: var(--colorNegro);
    font-family: var(--textoBold);
    text-align: center;
    border-radius: 25px;
    font-size: 20px;
    transition: all 250ms;
}
.container-btns a:last-child{
    padding: 10px 45px;
}
.container-btns a:hover{
    color: var(--colorBlanco);
    background-color: transparent;
}
.titulo-baner{
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family: var(--textoMedium);
    line-height: 90px;
}
.titulo-baner h1{
    width: 70%;
    background-color: rgba(138, 138, 138, 0.51);
    text-align: center;
    padding: 10px 40px;
    border-radius: 70px;
    margin-top: 50px;
}

/* ---------------MAIN---------------- */
/* promociones de la semana */
.container-promociones{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-family: var(--textoMedium);
    font-size: 25px;
    padding: 100px;
}
.promos-content{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}
.promos{
    text-align: center;
}
/* Sección conoce a selecto */
.container-conoceSelecto{
    width: 70%;
    margin: 30px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.titles{
    font-size: 60px;
    font-family: var(--textoRegular);
    text-align: center;
}
.container-conoceSelecto p{
    width: 80%;
    font-size: 25px;
    font-family: var(--textoRegular);
    font-weight: 100;
    margin-bottom: 100px;
}

/* Sección conoce servicios */
.container-servicios{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 30px 0 100px 0;
    background-image: url('../assetsInicio/images/bg-secionServicios.svg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
}
.container-servicios h2{
    width: 80%;
}
.container-cardsServicios{
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.cardServicio {
    position: relative;
    cursor: pointer;
}
.face {
    position: relative;
    width: 350px;
    min-height: 500px;
    backface-visibility: hidden;
    overflow: hidden;
    transition: 0.5s;
}
.cardFront {
    text-align: center;
    padding: 20px;
    border: solid 2px var(--colorBlanco);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: var(--colorNegroTransparencia);
    font-size: 20px;
    transform: perspective(600px) rotateY(0deg);
}

.cardFront img {
    width: 150px;
    height: 150px;
}

.cardFront h3 {
    width: 80%;
    font-family: var(--textoMedium);
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
}

.cardFront p {
    font-family: var(--textoRegular);
    font-weight: 100;
    width: 80%;
}

.cardBack {
    text-align: center;
    border: solid 2px var(--colorBlanco);
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 0;
    transform: perspective(600px) rotateY(-180deg);
    background-color: #000000;
}

.cardBack img {
    height: 500px;
    object-fit: fill;
    transform: perspective(600px) rotateY(0deg);
    opacity: 0.5;
}

.cardServicio:hover .cardFront {
    transform: perspective(600px) rotateY(180deg);
}

.cardServicio:hover .cardBack {
    transform: perspective(600px) rotateY(0deg);
}
.btn{
    padding: 10px 20px;
    background-color: var(--colorBlanco);
    color: var(--colorNegro);
    border: solid 2px var(--colorBlanco);
    font-family: var(--textoBold);
    font-size: 20px;
    text-decoration: none;
    border-radius: 25px;
    margin: 50px 40px 0 40px;
    transition: all 250ms;
    text-transform: uppercase;
    text-align: center;
}
.btn:hover{
    color: var(--colorBlanco);
    background-color: transparent;
}

/* sección galería */
.container-galeria{
    width: 100%;
    background-color: var(--colorNegro);
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container-galeria h2{
    width: 80%;
    margin: auto;
}
.container-images{
    width: 80%;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.container-images img{
    width: 30%;
}

/* Sección slider de productos */
.container-sliderProductos{
    width: 100%;
    background-color: var(--colorNegro);
    padding: 40px 0 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container-sliderProductos h2{
    width: 80%;
}
.slider-images{
    width: 75vw;
    height: 50vh;
    margin: 50px auto 0;
    border-radius: 60px;
    overflow: hidden;
}
.slide{
    width: 300%;
    height: 100%;
    border-radius: 60px;
    overflow: hidden;
    display: flex;
    animation: slide 15s 10 300ms alternate ease-in-out;
}
@keyframes slide {
    0% {transform: translateX(0%)}
    50% {transform: translateX(-75vw)}
    100% {transform: translateX(-150vw)}
}
.slideImg{
    width: 33.4%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Sección contáctanos */
.container-contactanos{
    width: 80%;
    margin: 100px auto;
    display: flex;
    gap: 30px;
}
.content-contacto{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.content-contacto h2{
    width: 70%;
}
.container-contactanos img{
    width: 40%;
}

/* --------------RESPONSIVE--------------- */
/* Tablet */
@media screen and (min-width: 678px) and (max-width: 1023px){
    .titulo-baner{
        font-size: 30px;
        line-height: 60px;
    }
    .titles{
        font-size: 40px;
    }
}

/* móvil */
@media screen and (max-width: 677px){
    .container-btns{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 15%;
    }
    .titulo-baner{
        font-size: 25px;
        line-height: 50px;
    }
    .titles{
        font-size: 30px;
    }
    .btn{
        margin-top: 30px;
    }
    .container-contactanos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container-contactanos img{
        width: 80%;
    }
}
