/* Importamos la fuente a utilizar */
@import url('https://fonts.cdnfonts.com/css/avenir');

/* variables */
:root {
    --text: 'avenir', sans-serif;
    --colorFondo: #dad8d8;
    --colorCafe: #521705;
    --colorTextoBlanco: #dad8d8;
    --colorNegro: #020101;
    --colorFondoNav: #000000b3;
}

/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--text);
}

body {
    width: 100%;
    background-color: var(--colorFondo);
    overflow-x: hidden;
}

/* estilos del scroll */
::-webkit-scrollbar {
    background-color: #f5f5f5;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
}

::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/*------------------ HEADER --------------*/

/* Estilos del encabezado */
.header {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
}

/* menú de navegación */
.menu-navegacion {
    width: 100%;
    padding: 2% 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.menu-navegacion nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/* Estilos de la barra de navegación */
.nav-links {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

/* Estilos de la lista de navegación */
.nav-links a {
    text-decoration: none;
    font-size: 25px;
}

.active {
    color: var(--colorTextoBlanco);
    cursor: pointer;
    position: relative;
    padding: 5px 0;
}

.active::before {
    content: "";
    position: absolute;
    left: 0;
    right: 100%;
    bottom: 0;
    background-color: var(--colorTextoBlanco);
    height: 2px;
    transition: right 0.3s ease-in-out;
}

.active:hover::before {
    right: 0;
}

/* Estilos del logotipo */
.logoNav {
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
}

.logoNav img {
    height: 100px;
    width: auto;
    transition: all;
}

.logoNav img:hover {
    transform: scale(1.05);
}

/* Estilos del botón navbar */
.nav-links .btn {
    background-color: var(--colorTextoBlanco);
    color: var(--colorCafe);
    font-size: 18px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
}

.btn:hover,
.header .menu-responsive button {
    background-color: var(--colorCafe);
    color: var(--colorTextoBlanco);
}

.shoppingBag span {
    background-color: var(--colorTextoBlanco);
    font-size: 20px;
    padding: 1px 5px;
    border-radius: 50%;
}

/* Menú responsive */
.menu-responsive {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    margin-left: 80px;
    display: none;
}

/* botones del menú responsive */
.menu-responsive button {
    font-weight: lighter;
    font-size: 50px;
    color: var(--colorTextoBlanco);
    padding: 5px 20px;
    background-color: var(--colorCafe);
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.menu-responsive button:hover {
    background-color: var(--colorTextoBlanco);
    color: var(--colorNegro);
}

/* Menú responsive desplegado */
.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: var(--colorFondoNav);
    transition: all 0.3s ease 0s;
}

.d-none {
    display: none;
}

.overlay-content {
    width: 100%;
    height: 100%;
}

.overlay-content ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 70px;
}

.overlay-content a {
    padding: 19px;
    font-size: 30px;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    color: #eceff1;
    text-decoration: none;
}

.overlay-content .btnAgenda {
    background-color: var(--colorTextoBlanco);
    color: var(--colorCafe);
}

.btnAgenda {
    font-size: 15px;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    transition: background-color 0.3s, color 0.3s;
}

/* Estilos para el botón de cierre del menú responsive */
.close {
    position: absolute;
    top: 45px;
    right: 45px;
    font-size: 50px;
}

/* Estilos Banner principal */
.banner {
    width: 100%;
    height: 100%;
    padding: 0 5%;
    background-image: url('../assets/img/banner-nosotros.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(30%);
}

.contenido-banner {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
}

/* Estilos para el texto h3 del banner principal */
.contenido-banner h2 {
    color: var(--colorTextoBlanco);
    font-size: 60px;
    font-weight: 500;
    padding: 20px 0px;
    position: relative;
    z-index: 1;
    margin-bottom: 20px; 
}

.flecha__icon i {
    color: #ffffff;
    font-size: 60px;
}
/* -----------------MAIN----------------- */

/* Slider de imágenes */
.slider-frame {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
    display: flex;
    animation: slide 10s infinite;
}

/* Keyframes para la transición del carrusel */
@keyframes slide {

    0%,
    100% {
        background-image: url('../assets/img/barberos.jpg');
        background-position: center;
        background-size: cover;
    }

    50% {
        background-image: url('../assets/img/manada-lobos.jpg');
        background-position: center;
        background-size: cover;
    }

}

/*sección "Los mejores en lo que hacemos" */
.seccion-mejores {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.los-mejores {
    width: 50%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.titulo-mejores {
    text-align: right;
    font-size: 60px;
    margin-bottom: 20px;
    color: #75210e;
}

.p-los-mejores {
    font-size: 30px;
    text-align: right;
    margin-bottom: 5px;
    width: 60%;
}

.imagen-los-mejores {
    width: 50%;
    overflow: hidden;
    margin: 50px;
}

.imagen-los-mejores img {
    display: block;
    width: 60%;
    object-fit: cover;
    border-radius: 20px;
}

/*sección Únete */
.unete-banner {
    padding: 0 5%;
    background-image: url('../assets/img/fondoNosotros.svg');
    height: 85vh;
    background-size: cover;
    background-position: center;
    filter: grayscale(30%);
}

.texto-banner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 100px;
}
.texto-banner h3 {
    color: var(--colorTextoBlanco);
    font-size: 60px;
    font-weight: 400;
    padding: 10px 0px;
    z-index: 1;
    width: 80%;
}

.button-agenda button {
    background-color: var(--colorTextoBlanco);
    color: rgb(52, 5, 5);
    font-size: 20px;
    border: none;
    padding: 15px 50px;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
}
.button-agenda a {
    color: var(--colorCafe);
}
.button-agenda button:hover {
    background-color: var(--colorCafe);
    color: var(--colorTextoBlanco);
}

/*Seccion conoce al team*/
.conoce-team {
    text-align: center;
    background-color: var(--colorNegro);
    padding: 100px 50px;
}
.conoce-team h3 {
    font-size: 60px;
    margin-bottom: 20px;
    color: var(--colorTextoBlanco);
}
.team-barber {
    display: inline-block;
    margin:20px;
    text-align: center;
    position: relative;
}
.team-barber h4 {
    margin-top: 10px;
    font-size: 25px;
    color: var(--colorTextoBlanco);
}
.team-barber img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.instagramIcon {
    max-width: 50px;
}

/*sección Líder manada */

.lider-manada {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}
.contenido-andres {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.img-andres {
    display: flex;
    justify-content: end;
    width: 50%;
}
.img-andres img {
    width: 60%;
    border-radius: 20px;
    object-fit: cover;
}
.contenedor-titulos {
    width: 50%;
    text-align: left;
}
.titulo-principal {
    font-size: 60px;
    color: #75210e;
}
.subt-lider {
    font-size: 30px;
    color: var(--colorNegro);
}
.contenedor-titulos p {
    width: 70%;
    font-size: 30px;
    margin: 20px 0;
}

/* ----------------FOOTER----------------- */
.container-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1.5fr .5fr;
    background-color: var(--colorCafe);
    color: var(--colorTextoBlanco);
}
.container-footer h3 {
    color: var(--colorTextoBlanco);
}
.container-footer a {
    color: var(--colorTextoBlanco);
    text-decoration: none;
}
.socialMedia {
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.socialMedia h3 {
    font-size: 25px;
}

.redes {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.logo {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.logo img {
    width: 150px;
    height: 140px;
}
.logo .btn {
    background-color: var(--colorTextoBlanco);
    color: var(--colorCafe);
    font-size: 18px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
}

.logo .btn:hover {
    background-color: var(--colorCafe);
    color: var(--colorTextoBlanco);
}

.map {
    grid-column: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
}
.map h3 {
    font-size: 25px;
}
.map iframe {
    border-radius: 25px;
}
.map p {
    font-size: 25px;
    text-align: center;
    width: 80%;
}
.navegation {
    grid-column: 1/4;
    grid-row: 2/3;
    font-size: 25px;
}
.navegation ul {
    width: 100%;
    height: 100%;
    padding: 0 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
}
.navegation li {
    padding: 5px 10px;
    position: relative;
    cursor: pointer;
}
.navegation li::before {
    content: "";
    position: absolute;
    left: 0;
    right: 100%;
    bottom: 0;
    background-color: white;
    height: 3px;
    transition: right 0.3s ease-in-out;
}

.navegation li:hover::before {
    right: 0;
}

.copyright {
    width: 100%;
    height: 50px;
    background-color: #888;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ------------MEDIA QUERIES --------- */

/* Movil first y rangos exactos de pantallas */
/* Responsive */
@media screen and (max-width: 1200px) {
    /* header */
    .nav-links {
        display: none;
    }
    .menu-responsive {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* los mejores en lo que hacemos */
    .p-los-mejores{
        width: 90%;
    }
    .imagen-los-mejores img{
        width: 90%;
    }
    /* Lider de la manada */
    .img-andres img{
        width: 90%;
    }
    .contenedor-titulos p{
        width: 90%;
    }
}
/* Trabajar con los rangos exactos max y min */
@media screen and (max-width: 1023px){
    .contenido-banner h2{
        font-size: 40px;
    }
    /* main*/
    .seccion-mejores{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .titulo-mejores{
        text-align: center;
        width: 100%;
        font-size: 40px;
    }
    .p-los-mejores{
        width: 100%;
        text-align: center;
        font-size: 25px;
    }
    .imagen-los-mejores{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .texto-banner h3{
        font-size: 40px;
    }
    .contenido-andres{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .img-andres{
        justify-content: center;
    }
    .contenedor-titulos{
        text-align: center;
        width: 100%;
    }

    /* footer */
    .container-footer{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr .5fr;
    }
    .socialMedia{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .logo{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .map{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .navegation{
        grid-column: 1/2;
        grid-row: 4/5;
    }
}