/* Importamos la fuente a utilizar */
@import url('https://fonts.cdnfonts.com/css/avenir');

/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'avenir', sans-serif;
}

body {
    width: 100%;
    background-color: rgb(218, 216, 216);
    overflow-x: hidden;
}

/* estilos del scroll */
::-webkit-scrollbar {
    background-color: #f5f5f5;
    width: 10px;
  }
::-webkit-scrollbar-thumb {
    background-color: #888;
  }
::-webkit-scrollbar-track {
    background-color: #f5f5f5;
  }
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/*------------------ HEADER --------------*/

/* Estilos del encabezado */
.header {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
}

/* menú de navegación */
.menu-navegacion {
    width: 100%;
    padding: 2% 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
}

.menu-navegacion nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/* Estilos de la barra de navegación */
.nav-links {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

/* Estilos de la lista de navegación */
.nav-links a {
    text-decoration: none;
    font-size: 25px;
}
.active{
    color: rgb(218, 216, 216);
    cursor: pointer;
    position: relative;
    padding: 5px 0;
}
.active::before{
    content: "";
    position: absolute;
    left: 0;
    right: 100%;
    bottom: 0;
    background-color: white;
    height: 2px;
    transition: right 0.3s ease-in-out;
}
.active:hover::before {
    right: 0;
}

/* Estilos del logotipo */
.logoNav {
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
}
.logoNav img {
    height: 100px;
    width: auto;
    transition: all;
}
.logoNav img:hover {
    transform: scale(1.05);
}

/* Estilos del botón navbar */
.nav-links .btn {
    background-color: #f5f5f5;
    color: #521705;
    font-size: 18px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
}
.btn:hover,
.header .menu-responsive button {
    background-color: rgb(58, 6, 6);
    color: #fbe7e1;
}
.shoppingBag span{
    background-color: white;
    font-size: 20px;
    padding: 1px 5px;
    border-radius: 50%;
}

/* Menú responsive */
.menu-responsive {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    margin-left: 80px;
    display: none;
}
/* botones del menú responsive */
.menu-responsive button {
    font-weight: lighter;
    font-size: 50px;
    color: rgb(253, 253, 253);
    padding: 5px 20px;
    background-color: #521705;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.menu-responsive button:hover {
    background-color: rgb(255, 250, 250);
    color: #020101;
}

/* Menú responsive desplegado */
.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease 0s;
}
.d-none{
    display: none;
}
.overlay-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.overlay-content a {
    border: solid white;
    padding: 19px;
    font-size: 30px;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    color: #eceff1;
    text-decoration: none;
}

/* Estilos para el botón de cierre del menú responsive */
.close {
    position: absolute;
    top: 45px;
    right: 45px;
    font-size: 50px;
}

/* Banner */
.banner {
    border: solid red;
    width: 100%;
    height: 100%;
    padding: 0 5%; 
    background-image: url(/sitioSelecto/2_pagNosotros/assets/img/banner-nosotros.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(30%);
}

.contenido-banner {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Estilos para el texto h3 del banner principal */
.contenido-banner h3 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 200;
    padding: 20px 0px;
    position: relative;
    z-index: 1;
}

/* Estilos para el texto resaltado del banner principal */
.resaltar {
    color: #ffffff;
    font-size: 60px;
    font-weight: 800;
    padding: 10px 0px;
}

.flecha__icon {
    color: #ffffff;
    font-size: 20px;
    display: block;
    text-decoration: none;
    margin-top: -10px;
}

.flecha__icon a {
    color: #ffffff;
    font-size: 20px;
}

/* -----------------MAIN----------------- */

/* Slider de imágenes */
.slider-frame {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.slider-frame ul {
    width: 200%;
    display: flex;
    animation: slide 5s infinite;
    list-style: none;
}

/* Keyframes para la transición del carrusel */
@keyframes slide {

    0%,
    100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-50%);
    }
}

.slider-frame li {
    width: 100%;
    transition: transform 1s ease-in-out;
}

.slider-frame img {
    width: 100%;
}

.barberosImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* clase "active" img barberos */
.active {
    transform: translateX(0);
}

/*sección "Los mejores en lo que hacemos" */
.seccion-mejores {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.los-mejores {
    text-align: right;
    margin-bottom: 20px;
}

.titulo-mejores {
    text-align: right;
    font-size: 40px;
    margin-bottom: 20px;
    margin-left: -80px;
    color: #75210e;

}

.p-los-mejores {
    font-size: 20px;
    text-align: right;
    margin-bottom: 5px;
    margin-left: -80px;
}

.imagen-los-mejores {
    border-radius: 20px;
    overflow: hidden;
    margin-left: 50px;
}

.imagen-los-mejores img {
    display: block;
    width: 400px;
    height: 400px;
    object-fit: cover;
}

/*sección Únete */
.unete-banner {
    padding: 0 5%;
    background-image: url(/sitioSelecto/2_pagNosotros/assets/img/fondoNosotros.svg);
    height: 85vh;
    background-size: cover;
    background-position: center;
    filter: grayscale(30%);
}

.texto-banner {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.texto-banner h3 {
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
    padding: 10px 0px;
    position: relative;
    z-index: 1;
}

.button-agenda button {
    background-color: #f5f5f5;
    color: rgb(52, 5, 5);
    font-size: 14px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
}

.button-agenda a {
    color: #521705;
}

.button-agenda button:hover {
    background-color: rgb(58, 6, 6);
    color: #fbe7e1;
}

/*Seccion conoce al team*/
.conoce-team {
    text-align: center;
    padding: 20px;
    background-color: #020101;
}

h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #ffffff;
}

.team-barber {
    display: inline-block;
    margin: 10px;
    text-align: center;
    position: relative;
}

.team-barber img {
    max-width: 100%;
    border-radius: 50%;
}


.team-barber h4 {
    margin-top: 10px;
    font-size: 18px;
    color: #ffffff;
}

.team-barber a img {
    max-width: 30px;
    margin-top: 10px;
}

.team-barber img {
    width: 170px;
    height: 170px;
}

/*sección Líder manada */

.lider-manada {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenido-andres {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor-titulos {
    text-align: left;
    margin-bottom: 20px;
}

.titulo-principal {
    font-size: 40px;
    margin-top: 0;
    margin-left: 25px;
    color: #75210e;
}

.subt-lider {
    font-size: 30px;
    margin-bottom: 10px;
    margin-left: 25px;
    color: #000000;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 25px;
}

.img-andres {
    border-radius: 20px;
    overflow: hidden;
}

.img-andres img {
    display: block;
    width: 400px;
    height: 400px;
    object-fit: cover;
}

/* ----------------FOOTER----------------- */
.container-footer{
    border: solid red;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1.5fr .5fr;
    background-color: #521705;
    color: white;
}
.container-footer h3{
    color: white;
}
.container-footer a{
    color: white;
    text-decoration: none;
}
.socialMedia{
    border: solid white;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.socialMedia h3{
    font-size: 25px;
}
.redes {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.logo{
    border: solid white;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.logo img{
    width: 150px;
    height: 140px;
}
.logo .btn{
    background-color: #f5f5f5;
    color: #521705;
    font-size: 18px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
}
.logo .btn:hover{
    background-color: rgb(58, 6, 6);
    color: #fbe7e1;
}
.map{
    border: solid white;
    grid-column: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
}
.map h3{
    font-size: 25px;
}
.map iframe{
    border-radius: 25px;
}
.map p{
    font-size: 25px;
    text-align: center;
    width: 80%;
}
.navegation{
    border: solid white;
    grid-column: 1/4;
    grid-row: 2/3;
    font-size: 25px;
}
.navegation ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.navegation li{
    padding: 5px 10px;
    position: relative;
    cursor: pointer;
}
.navegation li::before{
    content: "";
    position: absolute;
    left: 0;
    right: 100%;
    bottom: 0;
    background-color:white;
    height: 3px;
    transition: right 0.3s ease-in-out;
}
.navegation li:hover::before {
    right: 0;
}

.copyright{
    width: 100%;
    height: 50px;
    background-color: #888;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ------------MEDIA QUERIES --------- */

/* Responsive movil */
@media screen and (max-width: 1550px) {
    .nav-links {
        display: none;
    }

    .menu-responsive {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* responsive tablet */
/* @media screen and (max-width: 1023px) {
} */