/* Importamos las fuentes a utilizar */
@font-face {
    font-family: 'AvenirLTStd-Bold';
    src: url('/1_pagInicio/fonts/AvenirLTStd-Bold.otf' );
}
@font-face {
    font-family: 'AvenirLTStd-Medium';
    src: url('/1_pagInicio/fonts/AvenirLTStd-Medium.otf');
}
@font-face {
    font-family: 'AvenirLTStd-Regular';
    src: url('/1_pagInicio/fonts/AvenirLTStd-Regular.otf');
}

/* Variables de css */
:root{
    --textoBold: 'AvenirLTStd-Bold', sans-serif;
    --textoMedium: 'AvenirLTStd-Medium', sans-serif;
    --textoRegular: 'AvenirLTStd-Regular', sans-serif;
    --colorNegro:#121212;
    --colorNegroTransparencia:#00000080;
    --colorGrisOscuro:#232323;
    --colorGrisClaro:#A4A5A6;
    --colorBlanco:#FFFFFF;
}

/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--textoMedium);
}

body {
    width: 100%;
    background-color: var(--colorNegro);
    overflow-x: hidden;
}

/* estilos del scroll */
::-webkit-scrollbar {
    background-color: #f5f5f5;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
}

::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/*------------------ HEADER --------------*/

/* Estilos del encabezado */
.header {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
}

/* Estilos Banner principal */
.banner {
    width: 100%;
    height: 100%;
    padding: 0 5%;
    background-image: url('../assets/img/banenr-nosotros.svg');
    background-size: cover;
    background-position: center;
    filter: grayscale(30%);
}

.contenido-banner {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: right;
    gap: 30px;
    margin-left: 40%;
    margin-top: 30px;
}

/* Estilos para el texto h3 del banner principal */
.contenido-banner h2 {
    width: 80%;
    color: var(--colorBlanco);
    font-size: 55px;
    font-weight: 500;
    padding: 20px 0px;
    position: relative;
    z-index: 1;
    margin-bottom: 20px; 
    margin-top: 30px;
}

.flecha__icon i {
    color: var(--colorBlanco);
    font-size: 50px;
}
/* -----------------MAIN----------------- */

/* Slider de imágenes */
.slider-frame {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
    display: flex;
    animation: slide 10s infinite;
}

/* Keyframes para la transición del carrusel */
@keyframes slide {

    0%,
    100% {
        background-image: url('../assets/img/barberos.jpg');
        background-position: center;
        background-size: cover;
    }

    50% {
        background-image: url('../assets/img/manada-lobos.jpg');
        background-position: center;
        background-size: cover;
    }

}

/*sección "Los mejores en lo que hacemos" */
.seccion-mejores {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    background-color: var(--colorNegro);
}

.los-mejores {
    width: 50%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.titulo-mejores {
    text-align: right;
    font-size: 60px;
    margin-bottom: 50px;
    color: var(--colorBlanco);
    font-family: var(--textoRegular);
    width: 70%;
}

.p-los-mejores {
    font-size: 25px;
    text-align: right;
    margin-bottom: 5px;
    width: 60%;
    color: var(--colorBlanco)
}

.imagen-los-mejores {
    width: 50%;
    overflow: hidden;
    margin: 50px;
}

.imagen-los-mejores img {
    display: block;
    width: 60%;
    object-fit: cover;
    border-radius: 20px;
}

/*sección Únete */
.unete-banner {
    padding: 0 5%;
    background-image: url('../assets/img/fondoNosotros.svg');
    height: 85vh;
    background-size: cover;
    background-position: center;
    filter: grayscale(30%);
}

.texto-banner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 80px;
}
.texto-banner h3 {
    color: var(--colorBlanco);
    font-size: 50px;
    font-weight: 400;
    padding: 10px 0px;
    z-index: 1;
    width: 80%;
}

.button-agenda button {
    background-color: var(--colorBlanco);
    color: var(--colorNegro);
    font-size: 20px;
    border: solid 2px var(--colorBlanco);
    padding: 15px 50px;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s, color 0.3s;
    font-family: var(--textoBold);
}
.button-agenda a {
    color: var(--colorNegro);
}
.button-agenda button:hover {
    background-color: var(--colorNegro);
    color: var(--colorBlanco);
}

/*Seccion conoce al team*/
.conoce-team {
    text-align: center;
    background-color: var(--colorGrisOscuro);
    padding: 100px 50px;
}
.conoce-team h3 {
    font-size: 60px;
    margin-bottom: 20px;
    color: var(--colorBlanco);
}
.team-barber {
    display: inline-block;
    margin:20px;
    text-align: center;
    position: relative;
}
.team-barber h4 {
    margin-top: 10px;
    font-size: 25px;
    color: var(--colorBlanco);
}
.team-barber img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.instagramIcon {
    max-width: 50px;
    color: var(--colorNegro);
}

/*sección Líder manada */

.lider-manada {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    background-color: var(--colorNegro);
}
.contenido-andres {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.img-andres {
    display: flex;
    justify-content: end;
    width: 50%;
}
.img-andres img {
    width: 60%;
    border-radius: 20px;
    object-fit: cover;
}
.contenedor-titulos {
    width: 50%;
    text-align: left;
}
.titulo-principal {
    font-size: 60px;
    color: var(--colorBlanco);
    margin-bottom: 20px;
}
.subt-lider {
    font-size: 30px;
    color: var(--colorBlanco);
}
.contenedor-titulos p {
    color: var(--colorBlanco);
    width: 70%;
    font-size: 25px;
    margin: 20px 0;
}


/* ------------MEDIA QUERIES --------- */

/* Movil first y rangos exactos de pantallas */
/* Responsive */
@media screen and (max-width: 1200px) {
    
    /* los mejores en lo que hacemos */
    .p-los-mejores{
        width: 90%;
    }
    .imagen-los-mejores img{
        width: 90%;
    }
    /* Lider de la manada */
    .img-andres img{
        width: 90%;
    }
    .contenedor-titulos p{
        width: 90%;
    }
}
/* Trabajar con los rangos exactos max y min */
@media screen and (max-width: 1023px){
    .contenido-banner h2{
        font-size: 45px;
        width: 100%;
    }
    /* main*/
    .seccion-mejores{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .titulo-mejores{
        text-align: center;
        width: 100%;
        font-size: 40px;
    }
    .p-los-mejores{
        width: 100%;
        text-align: center;
        font-size: 25px;
    }
    .imagen-los-mejores{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .texto-banner h3{
        font-size: 40px;
    }
    .contenedor-titulos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 80%;
    }
    .contenido-andres{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .img-andres{
        justify-content: center;
    }
}

@media screen and (max-width: 677px){
    .contenido-banner h2{
        font-size: 30px;
    }
    /* main */
    .titulo-mejores{
        text-align: center;
        font-size: 30px;
    }
    .p-los-mejores{
        text-align: center;
        font-size: 20px;
    }
    .titulo-principal{
        font-size: 40px;
    }
}