@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
#header {
  background-image: url(background.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0;
  width: 100%; 
}

:root {
  --main-color: #0ebee6;
}
.act,
.navbar ul li a:hover {
  color: var(--main-color) !important;
  border-bottom: 1px solid var(--main-color);
}

.title-sinergia {
  font-size: 160px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #1ff1f8, #9b59b6 ); /* Blue to Purple gradient */
  -webkit-background-clip: text; 
  color: transparent; 
}
.bi-house {
  display: none;
}
.text-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.list-item {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.creativity {
  font-size: 60px;
  color: rgba(240, 255, 255, 0.347);
  padding-right: -50px;
}

.slogan {
  font-size: 25px; 
  color: #f3f3f3; 
  font-family: "Poppins", sans-serif;
}

.codigo {
  text-align: left;
  font-size: 60px;
  font-family: "Poppins", sans-serif;
  color: rgba(240, 255, 255, 0.347);
}

svg.wave {
  position: absolute;
  bottom: -100px;
}
.middle {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.middle h1 {
  font-size: 70px;
}

