/* Importamos las fuentes a utilizar */
@font-face {
    font-family: 'AvenirLTStd-Bold';
    src: url('../../fonts/AvenirLTStd-Bold.otf' );
}
@font-face {
    font-family: 'AvenirLTStd-Medium';
    src: url('../../fonts/AvenirLTStd-Medium.otf');
}
@font-face {
    font-family: 'AvenirLTStd-Regular';
    src: url('../../fonts/AvenirLTStd-Regular.otf');
}



/* Variables de css */
:root{
    --textoBold: 'AvenirLTStd-Bold', sans-serif;
    --textoMedium: 'AvenirLTStd-Medium', sans-serif;
    --textoRegular: 'AvenirLTStd-Regular', sans-serif;
    --colorNegro:#000000;
    --colorNegroTransparencia:#000000a6;
    --colorGrisOscuro:#232323;
    --colorGrisClaro:#A4A5A6;
    --colorBlanco:#FFFFFF;
}

/* Condiciones iniciales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--textoRegular);
}
body{
    background-image: url(/CardPopUpProductos/assets/image\ 100.svg);
    width: 100vw;
    height: auto;
}

.containerCard{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: var(--colorNegroTransparencia);
    align-items: center;
    justify-content: center;
    transition: .5s ease-out;
    opacity: 1;
}

.card {
    position: relative;
    display: flex;
    width: 70%;
    max-height: 70%;
    place-items: center;
    border-radius: 70px;
    transition: .5s ease-out;
}

.cardClose {
    visibility: visible;
    opacity: 1;
}

.imgBackground {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 40px;
    object-fit: cover;
    /*filter: blur(3px);*/
    z-index: 1;
}

.containerImg {
    display: flex;
    place-content: center;
    height: 100%;
    width: 40%;
    margin: 3% 0% 3% 3%;
    z-index: 2;
}

.containerInformation {
    display: grid;
    place-content: center;
    height: 100%;
    width: 60%;
    padding: 3% 3%;
    z-index: 2;
    gap: 20px;
}

.tituloProducto {
    font-family: var(--textoBold);
    font-size: 60px;
    color: var(--colorBlanco);
}

.subtituloProducto{
    font-family: var(--textoMedium);
    font-size: 30px;
    color: var(--colorBlanco);
    margin-top: 0;
}

.descuento {
    font-family: var(--textoBold);
    font-size: 25px;
    color: var(--colorBlanco);
}

.descuento span {
    font-family: var(--textoBold);
    font-size: 25px;
    color: var(--colorBlanco);
    text-decoration: line-through;
}

.precio {
    font-family: var(--textoBold);
    font-size: 25px;
    color: var(--colorBlanco);
}

.containerBtn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.categoria {
    font-family: var(--textoRegular);
    font-size: 35px;
    color: var(--colorBlanco);
}

.descripcion {
    font-family: var(--textoRegular);
    font-size: 25px;
    color: var(--colorBlanco);
}

.stock {
    font-family: var(--textoRegular);
    font-size: 25px;
    color: var(--colorBlanco);
}

.añadirAlCarrito{
    padding: 1rem 2rem;
    border-radius: 50px;
    border: none;
    color: var(--colorBlanco);
    background-color: var(--colorNegro);
    margin: 5px;
    font-size: 15px;
    text-transform: uppercase;
}

.close{
    display: flex;
    align-items: start;
    justify-content: end;
    font-size: 60px;
    color: var(--colorBlanco);
}

.rating {
    font-size: 0;
}

.star {
    font-size: 30px;
    cursor: pointer;
    color: #ccc;
}

.star.checked {
    color: #f1c40f;
}

.containerCategoria{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

@media screen and (max-width:900px) {

    .card {
        display:grid;
        margin: 25%;

    }
    .containerCard{
        height: auto;
    }
}